html{
    scroll-behavior: smooth;
}
body{
    background: #ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{ /*z -> 4 */
    height: 80px;
    width: 100%;
    background: #ffffff;
    position: fixed;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 5px #bbbab9;
    z-index: 4;
}
.content-logo{
    display: flex;
    margin-left: 5vw;
}
.content-logo a{
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2.3em;
    font-family: 'Gluten', cursive;
}
.content-logo img{
    height: 60px;
    width: auto;
    margin: 0px 1vw;
    transform: rotate(-25deg);
}
.content-logo picture{
    transition-duration: 1s;   
}
.content-logo picture:hover{
    scale: calc(1.05);
	transition: 0.7s;
}
.content-nav{
    margin: 0 3vw;
}
.content-nav li{
    display: inline-block;
    margin: 0 0.2vw;
    transition-duration: 0.2s;
}
.content-nav a{
    color: black;
    margin: 0 0.5vw;
    font-size: 1.3em;
    font-family: 'Gudea', sans-serif;
    font-weight: 100;
    text-decoration: none;
}
.content-nav li:hover{
    background: #f5b4b6;
    border-radius: 0.5rem;
    font-weight: 600;
}
main{ /*z->3 */
    top: 80px;
    height: 100vh;
    width: 100%;
    z-index: 3;
    display: flex;
    align-content: center;
    justify-content: center;
}
.container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: auto;
    margin: 0 8vw;
}
.container-text h2{
    font-size: 5em;
    font-family: Georgia;
    margin: 0;
}
.container-text p{
    font-size: 1.2em;
    font-family: 'Yomogi', cursive;
    font-weight: 600;
}
.container-text span{
    color: #E8A0BF;
}
.container-img{
    width: 45%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url(Portafolio/img/blob-haikei.svg);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: -160px;
}
.container-social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5%;
    height: auto;
}
.container-social img{
    height: 2.2rem;
    margin: 1vh 0;
}
.container-social img{
    transition-duration: 1s;   
}
.container-social img:hover{
    scale: calc(1.3);
    transform: translateX(-0.5em);
	transition: 0.5s;
    cursor: pointer;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    display: flex;
    z-index: 3;
}
.thumb li img{
    height: 100px;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0px 35px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    scale: calc(1.3);
    transform: translateY(-0.5em);
	transition: 0.5s;
    cursor: pointer;
    
}
.section-us{

    height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.section-us-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 25px;
}
.section-us-img img{
    height: 450px;
    margin: 25px;
}
.section-us-txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 25px;
}
.section-us-txt p{
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Yomogi', cursive;
}
.section-us-txt a{
    color: #000;
    background: #E8A0BF;
    padding: 5px;
    border-radius: 10px;
    box-sizing: content-box;
    width: max-content;
    text-decoration: none;
    font-size: 1.4em;
    font-family: 'Yomogi', cursive;
}
.section-us-txt a:hover{
    background: #f5b4b6;
    transform: scale(1.1);
    transition: calc(0.2s);
}
.section-us-txt h2{
    font-size: 3em;
    font-family: 'Franklin Gothic Medium';
    margin: 0;
}

.section-product{
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.containter-pincipal{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containter-pincipal h2{
    font-size: 2.8em;
    font-family: Georgia;
    margin: 0;
}
.container-secundario{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.row{
    height: 30vh;
    width: 100%;
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    flex-direction: row;
}
.col{
    height: 30vh;
    width: 15vw;
    background: #f1f0f0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col:hover{
    transform: scale(1.2);
}
.col img{
    height: 120px;
    margin: 0;
}
.col h3{
    color: black;
    margin: 5px;
    font-size: 1em;
    font-family: 'Gluten', cursive;
}
.col p{
    color: black;
    margin: 5px;
    font-size: 1em;
    font-family: 'Trebuchet MS';
    text-align: center;
}